* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: white;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    background-color: black;
}

.sidebar {
    margin-top: 50px;
    background-color: black;
    width: 370px;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 0.5rem;
    overflow: auto;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
}

.fixed-nav {
    width: 100%;
    height: 59px;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.spotify-icon {
    width: 35%;
}

.spotify-icon i {
    line-height: 4.5rem;
    font-size: 2rem;
    margin-left: 25px;
}

.fixed-nav-search {
    height: 59px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.home {
    font-size: 1.5rem;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #232323;
    display: flex;
    opacity: 0.6;
    border-radius: 50%;
    margin-right: 7px;
}

.home i {
    margin-left: 10px;
    margin-top: 12px;
    cursor: pointer;
}

.home:hover {
    opacity: 1;
}

.fixed-nav-search-bar {
    background-color: #232323;
    width: 80%;
    align-self: center;
    height: 50px;
    border-radius: 100px;
    display: flex;
    opacity: 0.8;
}

.fixed-nav-search-bar:hover {
    opacity: 1;
    border: 0.1px solid gray;
}

.fixed-nav-search-bar:active {
    opacity: 1;
    border: 2.5px solid white;
}

.fixed-nav-search-bar i {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-left: 10px;
    margin-top: 13px;
    cursor: pointer;
}

.fixed-nav-search-bar input {
    appearance: none;
    border: none;
    outline: none;
    width: 80%;
    height: 50px;
    background-color: #232323;
    font-size: 15px;
    align-self: center;
    margin-left: 0.6rem;  
}

.fixed-nav-options {
    display: flex;
    width: 35%;
    justify-self: end;
    justify-content: space-evenly;
}

.fixed-nav-options i {
    align-self: center;
    justify-self: end;
    cursor: pointer;

}

.profile-icon {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    background-color: #1bd760;
    border-radius: 50%;
    border: 11px solid #121212;
    align-self: center;
    margin-left: 20px;
    cursor: pointer;
}

.profile-icon:hover {
    transform: scale(1.1);
}

.profile-icon p {
    margin-left: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: 500;
}

.fixed-nav-options-icons {
    display: flex;
    cursor: pointer;
}

.fixed-nav-options-icons i {
    align-self: center;
    opacity: 0.7;
}

#fixed-nav-icon {
    margin-left: 1.25rem;
}

.fixed-nav-options-icons i:hover {
    opacity: 1;
}

.fixed-nav-options-btn {
    display: flex;
    padding-left: 4rem;
}

.fixed-nav-options-btn button {
    align-self: center;
    cursor: pointer;
}

.nav {
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.nav-option {
    background-color: #121212;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option:active {
    opacity: 1;
}

.nav-option i {
    background-color: #121212;
    font-size: 1.25rem;
}

.nav-option a {
    background-color: #121212;
    text-decoration: none;
    color: white;
    line-height: 2.5rem;
    font-size: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin: 0.6rem 0.6rem 0.6rem 0.6rem;
}

.btn1 {
    opacity: 0.8;
}

.btn1:hover {
    opacity: 1;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.5rem;
    padding: 0.5rem 0.75rem;
}

.icons {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0;
}

.icons button {
    display: flex;
    padding-top: 8px;
    margin-bottom: 10px;
}

.icons i {
    font-size: 15px;
    align-items: center;
    margin-right: 8px;
    opacity: 0.5;
}

.icons:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 7rem;
    border-radius: 0.5rem;
    padding: 1rem 1.25rem;
    margin: 0rem 0.5rem 1.4rem 0.5rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.1rem 0rem;
}

.box-p2 {
    font-size: 0.75rem;
    margin: 1rem 0rem;
    font-weight: 600;
}

.badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    color: black;
    padding: 0.25rem 1rem;
    height: 2rem;
    font-weight: 700;
    width: fit-content;
    margin-top: 0.4rem;
    align-self: center;
    justify-self: center;
}

.box button:hover {
    transform: scale(1.1);
}

.main-content {
    margin-top: 59px;
    margin-right: 0.7rem;
    padding: 0 1.5rem 90px 1.5rem;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    align-items: center;
    padding-top: 0.6rem;
    z-index: 10;
}

.sticky-nav .badge {
    margin-bottom: 18px;
    margin-right: 8px;
}

.btn {
    height: 2.5rem;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.sticky-nav-icons {
    margin-left: 0.5rem;
}

.sticky-nav-icons img {
    height: 1.5rem;
    width: 1.5rem;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    width: 500px;
}

.sticky-nav-options button {
    margin-bottom: 12px;
}

.nav-item {
    margin-right: 0.5rem;
}

.nav-item:hover {
    transform: scale(1.1);
}

.dark-badge {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.cards h2 {
    line-height: 65px;
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.8rem;
    margin-left: 1.4rem;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    line-height: 50px;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.8;
    padding-bottom: 10px;
}

.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player {
    display: flex;
}

.album {
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.player {
    width: 50%;
    background-color: black;
}

.controls {
    width: 25%;
}

.player-control-icon {
    margin-top: 0.5rem;
    height: 1rem;
    padding-left: 2rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 8px;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    appearance: none;
    background-color: white;
    border-radius: 100px;
    height: 0.2rem;
    z-index: 10;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
} 

.album {
    display: flex;
}

.pic {
    height: 3.4rem;
    width: 3.4rem;
    padding-left: 13px;
}

.pic img {
    border-radius: 6px;
    height: 3.4rem;
    width: 3.4rem;
}

.name {
    line-height: 18px;
    display: flex;
    justify-items: left;
    flex-direction: column;
    position: absolute;
    left: 5.2rem;
    cursor: pointer;
}

.name-p1 {
    font-size: 0.8rem;
    font-weight: 700;
    justify-content: start;
}

.name-p1:hover {
    text-decoration: solid underline;
}

.name-p {
    display: flex;
    flex-direction: row;
}

.name-p2 {
    font-size: 0.7rem;
    opacity: 0.7;
}

.name-p2:hover {
    opacity: 1;
    font-weight: 600;
    text-decoration: solid underline;
}

.name-p3 {
    font-size: 0.7rem;
    opacity: 0.7;
}

.name-p3:hover {
    opacity: 1;
    font-weight: 600;
    text-decoration: solid underline;
}

.album-icons {
    font-size: 1rem;
    position: absolute;
    left: 20.62rem;
}

.album-icons i:hover{
    transform: scale(1.1);
}

.audio button {
    background-color: black;
    border: none;
    outline: none;
}

.audio button:hover {
    transform: scale(1.1);
}

.controls {
    display: flex;
    background-color: black;
    align-content: center;
    justify-content: end;
    cursor: pointer;
}

.controls input {
    appearance: none;
    align-self: center;
    background-color: transparent;
}

.controls input::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.controls input::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #1bd760;
}

.controls i {
    align-content: center;
    justify-content: end;
    margin-right: 0.6rem;
    opacity: 0.6;
}

.controls i:hover {
    opacity: 1;
}

#volume {
    margin-right: 0.6rem;
}